<!-- BEGIN footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mb-lg-0">
        <h3 class="footer__heading">Kontakt</h3>
        <address>
          Matematikrevy<br>
          Universitetsparken 5<br>
          DK-2100 København Ø<br>
          CVR: 37985406
        </address>
      </div>

      <div class="col-md-3 mb-3 mb-lg-0">
        <h3 class="footer__heading">Matematikrevy</h3>
        <ul class="list-unstyled">
          <li>
            <a class="footer__link" href="#">Om revyen</a>
          </li>
          <li>
            <a class="footer__link" href="#">Vær med</a>
          </li>
          <li>
            <a class="footer__link" href="#">Presse</a>
          </li>
          <li>
            <a class="footer__link" href="#">Spørgsmål og svar</a>
          </li>
          <li>
            <a class="footer__link" href="#">Kontakt</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-3 mb-lg-0">
        <h3 class="footer__heading">Andre revyer</h3>
        <ul class="list-unstyled">
          <li>
            <a class="footer__link" href="http://www.biorevy.dk" target="_blank" rel="external nofollow">BIOREVY</a>
          </li>
          <li>
            <a class="footer__link" href="http://www.dikurevy.dk" target="_blank" rel="external nofollow">DIKUrevy</a>
          </li>
          <li>
            <a class="footer__link" href="http://www.facebook.com/fysikrevy" target="_blank" rel="external nofollow">FysikRevy&trade;</a>
          </li>
          <li>
            <a class="footer__link" href="http://www.facebook.com/KemiRevy-243693629547944" target="_blank" rel="external nofollow">KemiRevy</a>
          </li>
          <li>
            <a class="footer__link" href="http://www.facebook.com/MBKrevyen" target="_blank" rel="external nofollow">MBK Revy</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-3 mb-lg-0">
        <h3 class="footer__heading">Sociale medier</h3>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="btn btn-social" href="http://www.facebook.com/matrevy"><span class="fa fa-facebook-f"></span></a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-social"  href="http://www.youtube.com/user/Matematikrevyen"><span class="fa fa-youtube-play"></span></a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-social"  href="http://www.snapchat.com/add/matrevy"><span class="fa fa-snapchat-ghost"></span></a>
          </li>
        </ul>
      </div>
    </div>

    <hr class="footer__divider">

    <div class="row">
      <div class="col-md-6 text-center text-md-left">
        &copy; {% now "Y" %} Matematikrevy. Alle rettigheder forbeholdes.
      </div>

      <div class="col-md-6 text-center text-md-right">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="footer__link footer__link--legal" href="#">Vilkår</a>
          </li>
          <li class="list-inline-item">
            <a class="footer__link footer__link--legal" href="#">Persondata</a>
          </li>
          <li class="list-inline-item">
            <a class="footer__link footer__link--legal" href="#">Cookies</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- END footer -->
