<!-- BEGIN footer -->
<footer class="bg-dark text-light pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mb-lg-0">
        <h5>Kontakt</h5>
        <address>
          Matematikrevy<br>
          Universitetsparken 5<br>
          DK-2100 København Ø<br>
          CVR: 37985406
        </address>
      </div>

      <div class="col-md-3 mb-3 mb-lg-0">
        <h5>Matematikrevy</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Om revyen</a>
          </li>
          <li>
            <a href="#">Vær med</a>
          </li>
          <li>
            <a href="#">Presse</a>
          </li>
          <li>
            <a href="#">Spørgsmål og svar</a>
          </li>
          <li>
            <a href="#">Kontakt</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-3 mb-lg-0">
        <h5>Andre revyer</h5>
        <ul class="list-unstyled">
          <li>
            <a href="http://www.biorevy.dk" target="_blank" rel="nofollow">BIOREVY</a>
          </li>
          <li>
            <a href="http://www.dikurevy.dk" target="_blank" rel="nofollow">DIKUrevy</a>
          </li>
          <li>
            <a href="http://www.facebook.com/fysikrevy" target="_blank" rel="nofollow">FysikRevy&trade;</a>
          </li>
          <li>
            <a href="http://www.facebook.com/KemiRevy-243693629547944" target="_blank" rel="nofollow">KemiRevy</a>
          </li>
          <li>
            <a href="http://www.facebook.com/MBKrevyen" target="_blank" rel="nofollow">MBK Revy</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-3 mb-lg-0">
        <h5>Sociale medier</h5>
        <ul class="list-unstyled">
          <li>
            <a href="http://www.facebook.com/matrevy">Facebook</a>
          </li>
          <li>
            <a href="http://www.youtube.com/user/Matematikrevyen">Youtube</a>
          </li>
          <li>
            <a href="http://www.snapchat.com/add/matrevy">Snapchat</a>
          </li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6 text-center text-md-left">
        &copy; {% now "Y" %} Matematikrevy. Alle rettigheder forbeholdes.
      </div>

      <div class="col-md-6 text-center text-md-right">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="#">Vilkår</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Persondata</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Cookies</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- END footer -->
