// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-social {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 0;
  box-shadow: none;

  &:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
